@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pixelify+Sans&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
}

:root {
    --header-color: #F3F3F3;
}
/*
.three-lines {
    display: none;
}

/* Header */
header {
    background-color: var(--header-color);
    border-radius: 14px;
    margin: 0 120px;
    padding: 2px;
    margin-top: 20px;
}

a {
    color: #000; /* set the color to black */
    text-decoration: none; /* remove the underline */
}

.flexbox-container-header {
    margin: 0 20px;
    display: flex;
    border-radius: 14px;
    justify-content: space-between;
}

.flexbox-container-logo {
    display: flex;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

.flexbox-spacer {
    flex-grow: 1;
}

#header-title {
    margin-left: 10px;
}
/* Finish Header */

/* Home Page  */
.home-main-content {
    display: flex;
    margin: 50px 0;
    text-align: center;
    align-items:baseline;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.home-grid-logos-army {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

button {
    background-color: #F53E28;
    color: #fff;
    padding: 15px 40px;
    font-size: 22px;
    border-radius: 125px;
    margin: 30px 0;
    font-weight: bold;
    border: none;
}
/* Home Page  */

/* Donation Page */
.donation-main-content {
    margin: 0 140px;
}


.donation-main-boxes {
    display: flex;
}

.donation-main-box {
    margin: 0 10px;
}

/* Contact */
.contact-main-content {
    margin: 50px 0;
    text-align: center;
}

.contact-form {
    margin: 0 250px;
}

.contact-main-content input {
    margin: 10px 0;
    border-color: #000;
    font-size: 25px;
    border-radius: 60px;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
}

.contact-main-content textarea {
    height: 200px;
    margin: 10px 0;
    font-size: 27px;
    border-radius: 20px;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
}

.contact-main-content input[type="submit"] {
    background-color: #000;
    color: #fff;
    font-weight: 600;
}

.contact-main-content input[type="submit"]:hover {
    background-color: #444;
    color: #fff;
}
/* Contact */

/* Login page*/
.login-in-flexbox-main-content {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 0 0;
    text-align: center;
}

.login-in-flexbox-item-2 {
    text-align: left;
}

.login-in-form input {
    margin: 0 0 20px 0;
    border-color: #000;
    font-size: 27px;
    border-radius: 60px;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
}

.login-in-form input[type="submit"] {
    background-color: #000;
    color: #fff;
    font-weight: 600;
}

.login-in-form input[type="submit"]:hover {
    background-color: #444;
    color: #fff;
}
/* Login Page */

/* Sign up*/
.sign-up-main-content {
    text-align: center;
    margin: 20px 500px;
}

.sign-up-form input {
    margin: 0 0 20px 0;
    border-color: #000;
    font-size: 27px;
    border-radius: 60px;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
}

.sign-up-form input[type="submit"] {
    background-color: #000;
    color: #fff;
    font-weight: 600;
}

.sign-up-form input[type="submit"]:hover {
    background-color: #444;
    color: #fff;
}

/* About Us */
.about-us-main-content {
    margin: 50px 140px 50px 140px;
    line-height: 2;
    text-align: center;

}

.about-us-main-text {
    text-align: justify;
}


/* Footer */
.footerF {
    position: relative;
    margin-top: 10px;
    object-fit: cover;
    width: 100vw;
    height: 35vh;
}

.footerImage {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

#login-logo {
    height: 270px;
}

.menu-overlay {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    margin-top: 2%;
    right: 15px;
    transform: translateY(0);
    background-color: rgba(255, 255, 255, 0.97);
    backdrop-filter: blur(1000px);
    border-radius: 5%;
    width: 300px;
    height: 330px;
    padding: 20px;
    box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.15);
}


.menu-content nav ul {
    margin-top: 40px;
    list-style-type: none; /* Remove default list bullets */
    padding: 0; /* Remove default padding */
}

.menu-content nav ul a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Set link text color */
    display: block; /* Make the entire list item clickable */
    padding: 15px 0; /* Add vertical spacing between items */
}

.menu-content nav ul a:hover {
    background-color: #f0f0f0; /* Add a background color on hover */
    border-radius: 10px;
}

/*Admin panel*/

#admin-form-campaing{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.ul-header-admin{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

#admin-header-li{
    margin-right: 20px;
}

.ul-header-admin.input {
    border-color: #000;
    border-radius: 60px;
    padding: 5px 20px;
    width: 100%;
}

.admin-table-main-content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.admin-table-main-content h2 {
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.campaing-admin-table-list{
    align-content: center;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 30px;
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
    background-color: #dddddd;
    border-bottom: 10px solid #eee;
}

.admin-table-body input, .admin-table-body textarea {
    border: none;
    background: transparent;
    width: 100%;
    padding: 5px 0;
    font-size: 1em;
    font-family: 'Montserrat', serif;
    font-weight: 600;
    text-align: center;
    appearance: none;
}

.admin-table-body input[type="number"]{
    appearance: none;
    -moz-appearance: textfield;
}

.admin-table-body input[type="submit"]{
    border-color: #000;
    border-radius: 7px;
    padding: 4px 20px;
    width: 100%;
    background-color: #eeeeee;
}

@media only screen and (max-width: 1600px) {

    .sign-up-main-content{
        text-align: center;
        margin: 20px 400px;
    }

}


@media only screen and (max-width: 1200px) {

    .footerF{
        margin-top: 2px;
    }

    header {
        display: none;
    }

    .home-main-content {
        flex-flow: column;
        align-items: center;
    }

    img {
        height: 50%;
    }

    .home-grid-logos-army {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .login-in-flexbox-main-content {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin: 40px;
        text-align: center;
    }

    .login-in-flexbox-item-1, .sign-up-flex-up{
        text-align: left;
        font-size: 0.7em;
        font-weight: lighter;

    }

    #login-logo {
        height: 100px;
    }

    h2 {
        font-size: 3em;
    }

    .sign-up-main-content{
        text-align: center;
        margin: 15%;
    }

    #create-account-h1 {
        font-size: 4em;
    }

    #already-account-h2 {
        font-size: 1.8em;
        font-weight: lighter;
    }

    .sign-up-password-requirments{
        margin-bottom: 20px;
    }

    .contact-form {
        margin: 35px 10% 5px 10%;
    }
    .about-us-main-content {
        margin: 0 10% 0 10%;
    }

}

/* Detects if the user prefers a dark color scheme */
@media (prefers-color-scheme: dark) {
    :root {
        --header-color: #1a1a1a; /* Dark background for headers */
        /* Additional dark mode colors can be defined here */
    }

    body {
        background-color: #121212; /* Dark background */
        color: #f3f3f3; /* Light text */
    }

    header {
        background-color: var(--header-color);
    }

    a {
        color: #9A9A9A; /* Lighter text color for links */
    }

    button {
        background-color: #37474F; /* Darker button background */
        /* Other button styles as needed */
    }

    .contact-main-content input[type="submit"],
    .login-in-form input[type="submit"] {
        background-color: #333; /* Darker submit button background */
        /* Other styles as needed */
    }

    /* Dark mode styles for the floating menu */
    .menu-overlay {
        background-color: #2C2C2C; /* Darker background for the floating menu */
        color: #FFFFFF; /* Light text for the floating menu */
    }

    .menu-content nav ul a {
        color: #CCCCCC; /* Lighter link color in the floating menu */
    }

    .menu-content nav ul a:hover {
        background-color: #414141; /* Dark hover background in the floating menu */
    }

    /* Additional dark mode styles as needed */
    /* Dark mode styles for the Login and Registration forms */

    .login-in-form input, .sign-up-main-content input,
    .sign-up-main-content textarea {
        background-color: #333; /* Darker background for input fields */
        color: #f3f3f3; /* Light color for text inside input fields */
    }

    .sign-up-password-requirments {
        background-color: #3A3A3A; /* Dark background for password requirements */
        color: #f3f3f3; /* Light text color */
    }

    .admin-table-main-content {
        background-color: #333;
        color: #f3f3f3;
    }
    .admin-table-main-content h2 {
        color: #f3f3f3;
    }
    .campaing-admin-table-list{
        background-color: #3A3A3A;
    }
    td {
        padding: 10px;
        background-color: #2C2C2C;
        border-bottom: 10px solid #3A3A3A;
    }
    .admin-table-body input{
        color: #eeeeee;
    }
    .admin-table-body input[type="submit"]{
        background-color: #3A3A3A;
    }

}


