@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pixelify+Sans&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
}

:root {
    --header-color: #F3F3F3;
}

/* Header */
header {
    background-color: var(--header-color);
    border-radius: 14px;
    margin: 0 120px;
    padding: 2px;
    margin-top: 20px;
}

a {
    color: #000; /* set the color to black */
    text-decoration: none; /* remove the underline */
}

.flexbox-container-header {
    margin: 0 20px;
    display: flex;
    border-radius: 14px;
    justify-content: space-between;
}

.flexbox-container-logo {
    display: flex;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

.flexbox-spacer {
    flex-grow: 1;
}

#header-title{
    margin-left: 10px;
}

/* Finish Header */

/* Home Page  */
.main-content {
    display: flex;
    margin: 50px 0 50px 140px;
    text-align: center;
}

.grid-logos-army {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin-right: 10px;
    margin-left: 230px;
}

button {
    background-color: #F53E28;
    color: #fff;
    padding: 15px 40px;
    font-size: 22px;
    border-radius: 125px;
    margin: 30px 0;
    font-weight: bold;
    border: none;
}

/* Home Page  */

/* Login page*/
.login-in-flexbox-main-content{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 0 0;
    text-align: center;
}

.login-in-flexbox-item-2{
    text-align: left;
}

.login-in-form input{
    margin: 0 0 20px 0;
    border-color: #000;
    font-size: 27px;
    border-radius: 60px;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
}

.login-in-form input[type="submit"] {
    background-color: #000;
    color: #fff;
    font-weight: 600;
}

.login-in-form input[type="submit"]:hover {
    background-color: #444;
    color: #fff;
}
/* Login Page */

/* About Us */
.about-us-main-content {
    display: flex;
    margin: 50px 0 50px 140px;
    text-align: center;
}

/* Footer */
.footerF {
    position: relative;
    margin-top: 10px;
    object-fit: cover;
    width: 100vw;
    height: 35vh;
}

.footerImage {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}
